[flake8]
max-line-length = 100
# Se ignoran reglas que pueden entrar en conflicto con Black:
extend-ignore = E203, W503
# Se excluyen carpetas que no se deben analizar:
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv
